body {
    margin: 40px;
    /* font-family: "Open Sans", Arial, Helvetica, Sans-serif; */
    font-family: monospace;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #f5f5f5;
    color: #000;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
    margin: 5px;
}

.positive-val {
    padding-left: 5px;
    color: forestgreen;
}

.negative-val {
    padding-left: 5px;
    color: crimson;
}